#demonstracao #dividendo {
    padding: 0 1em;
    border-bottom: 1px solid #000;
}

#resultado {
    display: none;
    padding: .3em .5em;
    margin-bottom: 2em;
    border: 2px solid #052F5F;
    background: #fff;
    font-size: 2.5em;
}