@import url(animations.css);

.demonstracao .dividendo {
    padding: 0 1em;
    border-bottom: 1px solid #000;
}

#resultado {
    display: none;
    padding: .3em .5em;
    margin-bottom: 2em;
    border: 2px solid #052F5F;
    border-radius: 3px;
    background: #fff;
    font-size: 2.5em;
}

#seletorMetodo {
    position: relative;
    border-bottom: 1px solid #00000070;
}

#seletorMetodo::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    border-bottom: 2px solid #052F5F;
}

#seletorMetodo.left::after {
    left: 0;
    animation: metodoSelectorRightToLeft 250ms;
}

#seletorMetodo.right::after {
    right: 0;
    animation: metodoSelectorLeftToRight 250ms;
}

#seletorMetodo .toggleMetodoBtn {
    font-size: 1.1em;
    padding: .5em 0;
}